<!--  <div id="googleAds">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    &lt;!&ndash;mygithubio&ndash;&gt;
    <ins class="adsbygoogle" style="display:inline-block;width:728px;height:90px"
         data-ad-client="ca-pub-5363852791482518" data-ad-slot="7726510781"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    &lt;!&ndash; <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script> &ndash;&gt;
    &lt;!&ndash; twocold-horizental &ndash;&gt;
    &lt;!&ndash;<ins class="adsbygoogle" style="display:inline-block;width:728px;height:90px" data-ad-client="ca-pub-5363852791482518" data-ad-slot="3296311185"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
&ndash;&gt;
  </div>-->
<!--
<div id="baiduAds">
  <script type="text/javascript">BAIDU_CLB_fillSlot("1049391");</script>
</div> -->
<!--
<div *ngFor="let appData of appDataSets;let i=index" id="s{{i+1}}bg" class="content">
    <div id="container{{i+1}}" class="container">
        <div id="section{{i+1}}" class="section-left">
            <h1>{{appData.title}}</h1>
            <p>{{appData.desc}}</p>
            <p>
                <a href="{{appData.link}}">click here to download</a>
            </p>
            <img *ngFor="let srcData of appData.images" src="{{srcData}}" alt="{{appData.imgAlt}}">
        </div>
        <br>
    </div>
</div>-->
<md-tab-group>
    <md-tab label="Tab 1">Content 1</md-tab>
    <md-tab label="Tab 2">Content 2</md-tab>
</md-tab-group>