.content {
    background-image: url(../../images/bg1.jpg);
    background-size: cover;
    color: white;
}
.section-left img {
    width: 50%;
    float: left;
    padding: 1%;
    box-sizing: border-box;
    margin-bottom: 1em;
}
/* background */

#s3bg {
    padding-top: 50px;
}

#s1bg {
    /*background-color: #FFF8E1;*/
    margin: 0;
    padding-top: 0.8em;
    padding-bottom: 3em;
}

#s2bg {
    /*background-color: #BBDEFB;*/
    padding-bottom: 3em;
    padding-top: 0.8em;
}
#section2 {
    padding-top: 1em;
}

.section_link {
    color: white;
}