#title {
    font-weight: 100;
}
#headline {
    padding-top: 8em;
    color: white;
    /* background-color: black; */
    background-image: url(../../images/headbg.jpg);
    /*background-color: #1D49E8;*/
    /*margin-top: 200px;*/
    /*margin-bottom: 100px;*/
    /*padding-top: 200px;*/
    /*padding-bottom: 200px;*/
    background-size: cover;
}

div#header {
    text-align: center;
    top: 0;
    padding: 0;
    position: absolute;
    background-color: #004646;
}

#header_bg,#header_bg img {
    visibility: visible;
    margin: 0;
    position: inherit;
    z-index: -1;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 1900px;
}

.li_item {
    margin-top: 10px;
}

#download {
    background-color: rgba(57, 177, 164, 0.7);
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 20px;
    margin-top: 50px;
}
#headline h1 {
    /*font-weight: 800;*/
    line-height: 1em;
    margin-top: 10px;
}

#download h1 {
    text-align: center;
    padding: 0;
    margin-top: 0;
}

#download button {
    width: 100%;
    padding: 0.5em;
    font-size: 18px;
    box-sizing: border-box;
    border-radius: 20px 20px;
    box-shadow: 3px 3px 5px black;
    /*background-color: rgba(105, 170, 70,1);*/
    background-color: hsl(0, 100%, 40%);
    /*border-color: rgba(0,150, 150, 200);*/
    border: none;
    /*outline is used to delete focus state rectangle*/
    outline: none;
    /*color is for text color*/
    color: white;
}

#download button:hover {
    background-color: #dcdcdc;
    /*border-color: rgba(150, 150, 250, 0.8);*/
    color: black;
    border: none;
}

#download button:active {
    /*background-color: #629A43;*/
    background-color: hsl(0, 100%, 40%);
    /*border-color: rgba(150, 150, 250, 0.8);*/
    color: white;
    border: none;
}

#download button:focus {
    border: none;
}
#app2,
.dl_btn {
    margin-top: 20px;
}