<div id="header" style="width:100%;">
    <header>
        <h1 id="title">Android APP Store</h1>
        <!--<h3>hello world !</h3>-->
    </header>
</div>
<div id="headline">
    <!--<div id="header_bg">-->
        <!--&lt;!&ndash;<img src="../images/head.jpg" alt="header bg"/>&ndash;&gt;-->
    <!--</div>-->
    <div class="container">
        <div id="blur">
            <p>It's very nice to show all of you about my products.</p>
            <p>This page supplied my APPs which developed by myself.</p>
            <ul>
                <li class="li_item">
                    <a class="section_link" href="#s1bg">Beautiful Picture show</a>
                </li>
                <li class="li_item">
                    <a class="section_link" href="#s2bg">Currency Rate</a>
                </li>
                <li class="li_item"><a class="section_link" href="#s3bg">Beauty photo</a>
                </li>
                <li class="li_item">
                    <a class="section_link" href="polymer/index.html">Polymer</a>
                </li>
            </ul>
        </div>
        <div id="download">
            <h1>DOWNLOAD</h1>
            <a href="./apk/app-calc-v4.apk">
                <BUTTON class="dl_btn" id="app2">Currency Rate v4.0</BUTTON>
            </a>
            <a href="./apk/Funny_GIF_v1.apk">
                <BUTTON class="dl_btn" id="app4">Funny GIF v1.0</BUTTON>
            </a>
            <a href="./apk/BeautyPhoto_v1.apk">
                <BUTTON class="dl_btn" id="app3">Beauty Photo v1.0</BUTTON>
            </a>
            <a href="./apk/MTKK_v5.apk">
                <BUTTON class="dl_btn" id="app1">Beautiful Picture show v5.0</BUTTON>
            </a>
        </div>
        <br>
    </div>
</div>
