body {
    background-color: #2CCB4C;
}

div#header {
    width: 100%;
    text-align: center;
    top: 0;
    left: 0;
    padding: 0;
    position: absolute;
    background-color: #14A12B;
    z-index: 15;
    color: white;
}


/*header{
    background-color: #;
}*/

#my_qrcode {
    position: absolute;
    right: 20px;
    top: 100px;
    z-index: 100;
    text-align: center;
    background-color: #554477;
    font-size: 20px;
    width: 35%;
}

#image_div {
    /*width: 20%;*/
    /*position: absolute;*/
    /*float: left;*/
    margin-left: 0px;
    padding-top: 0px;
    background-color: red;
}

#vedio_show {
    /*width: 40%;*/
    width: 720px;
    margin-top: 85px;
    float: left;
    background-color: red;
}

ul {
    list-style: none;
    float: left;
    margin-top: 85px;
    padding-left: 0px;
}

li{
    position: absolute;
    overflow: hidden;
}