 html,
 body {
     margin: 0;
     padding: 0;
     /*background-color: #EBEBEB;*/
     /*background-color: black;*/
     font-family: Roboto, helvetica, arial, sans-serif;
     color: white;
 }
 @media screen and (max-width: 600px) {
     /*<= 600px */
     #title {
         font-size: 38px;
     }
     #googleAds {
         display: none;
     }
     img {
         max-width: inherit;
     }
 }
 @media screen and (min-width: 600px) {
     /*>= 600px */
     /*===>start*/
     #googleAds {
         display: block;
         /*background-color: red;*/
     }
     #baiduAds {
         width: 100%;
         height: 90px;
     }
     #blur {
         float: left;
         font-weight: 200;
         width: 50%;
         font-size: 18px;
         box-sizing: border-box;
         padding-right: 10px;
     }
     #download {
         float: right;
         width: 50%;
         box-sizing: border-box;
         font-weight: 300;
         margin-top: 0;
     }
     /*  #headline br {
           clear: both;
       } */
     .section-left {
         float: left;
         width: 80%;
         box-sizing: border-box;
         padding-right: 10px;
     }
     .g-link {
         float: right;
         width: 20%;
         margin-top: 50px;
         /*padding-left: 100px;*/
         /*margin-left: 50px*/
         box-sizing: border-box;
     }
     img {
         max-width: 400px;
         /*margin-left: 10px;*/
         margin-top: 50px;
     }
 }
 /*<===end*/
 br {
     clear: both;
 }
 .container {
     margin: auto;
     max-width: 1000px;
     padding-right: 4%;
     padding-left: 4%;
     padding-top: 0;
     padding-bottom: 0;
 }
 video {
     object-fit: contain;
 }
